<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li><a href="{{site.swc_pages}}/shell-novice/01-intro/index.html">Introducing the Shell</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/03-create/index.html">Working with Files and Directories</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/05-loop/index.html">Loops</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/06-script/index.html">Shell Scripts</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/07-find/index.html">Finding Things</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/01-numpy/">Analyzing Patient Data</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/02-loop/">Repeating Actions with Loops</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/03-lists/">Storing Multiple Values in Lists</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/04-files/">Analyzing Data from Multiple Files</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/05-cond/">Making Choices</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/06-func/">Creating Functions</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/07-errors/">Errors and Exceptions</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/08-defensive/">Defensive Programming</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/09-debugging/">Debugging</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/10-cmdline/">Command-Line Programs</a></li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
<!--
  <div class="col-md-6">
    <h3 id="syllabus-r">R for Reproducible Scientific Analysis</h3>
    <ul>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/01-rstudio-intro/index.html">Introducing to R and Rstudio</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/02-project-intro/index.html">Project Management with Rstudio</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/03-seeking-help/index.html">Seeking Help</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/07-control-flow/index.html">Control Flow</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/13-dplyr/index.html">Dataframe Manipulation with dplyr</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/14-tidyr/index.html">Dataframe Manipulation with tidyr</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication Quality Graphics with ggplot2</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports with knitr</a></li>
      <li><a href="{{site.swc_pages}}/r-novice-gapminder/reference">Reference...</a></li>
    </ul>
  </div>
-->
<!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with Arrays</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Defensive Programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
 -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li><a href="{{site.swc_pages}}/git-novice/01-basics/index.html">Automated Version Control</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/02-setup/index.html">Setting up Git</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/03-create/index.html">Creating a Repository</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/04-changes/index.html">Tracking Changes:</a> <code>git add</code>, <code>git commit</code>,<code>git status</code>, ...</li>
      <li><a href="{{site.swc_pages}}/git-novice/05-history/index.html">Exploring History</a> <code>git log</code>, <code>git diff</code>, <code>git checkout</code>,...</li>
      <li><a href="{{site.swc_pages}}/git-novice/06-ignore/index.html">Ignoring Things</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/07-github/index.html">Remotes in Github</a> <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li><a href="{{site.swc_pages}}/git-novice/08-collab/index.html">Collaborating</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/09-conflict/index.html">Conflicts</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
<!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and Sorting Data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating New Values on the Fly</li>
      <li>Handling Missing Values</li>
      <li>Combining Values Using Aggregation</li>
      <li>Combining Information From Multiple Tables Using <code>join</code></li>
      <li>Creating, Modifying, and Deleting Data</li>
      <li>Programming with Databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>
-->
<!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing Data</li>
      <li>Basic Functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
-->
</div>
